<footer>
    <img src="/images/jackfrostsmall.webp" />
    <a href="https://heehoposting.xyz">https://heehoposting.xyz</a>
    <img src="/images/jackfrostsmall.webp" style="transform: scaleX(-1)" />
</footer>
<div class="button-container">
    <img src="/images/drpepper.gif" class="button" />
    <img src="/images/linux_powered.gif" class="button" />
    <img src="/images/this-machine-kills-fascists.png" class="button" />
    <img src="/images/virtual-diva.png" class="button" />
    <img src="/images/besteyes.gif" class="button" />
    <img src="/images/3ds.png" class="button" />
</div>